@font-face {
    font-family: Typo SemiBold;
    src: url("/assets/fonts/PlayfairDisplay-SemiBold.ttf")
}
@font-face {
    font-family: Typo Medium;
    src: url("/assets/fonts/PlayfairDisplay-Medium.ttf")
}

@import "tailwindcss";
@theme {
    --font-typoSemibold: Typo SemiBold, "sans-serif";
    --font-typoMedium: Typo Medium, "sans-serif";
}
